<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>
    <link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">
    <link href="{{assets}}/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{{assets}}/css/app.css" rel="stylesheet">

  </head>
  <body>

    {{> navbar-fixed-top }}

    <div class="body">
    {{> body }}
    </div>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{{assets}}/js/bootstrap.min.js"></script>
  </body>
</html>
